@using S3Train.Web.Models;
@model HomeViewModel
@{
    ViewBag.Title = "ProductsByCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="shop">
    <div class="container">
        <div class="roses-head">
            <h2><b>@Model.ProductsByCategory.First().NameCategory</b></h2>
        </div>
    </div>
</div>
<!---->

<div class="container">
            <div id="myCarousel" class="carousel slide">
                @foreach (var item in Model.ProductsByCategory)
                {

                <div class="col-md-3">
                    <div class="thumbnail">

                        <a href="@Url.Action("Detail", "Product",new { @id = item.ProductId } )">
                            <img src="@Url.Content("~/ImagePD/"+item.ImagePath)" />
                        </a>
                        <div class="caption">
                            <a href="@Url.Action("Detail", "Product",new { @id = item.Id } )"><h5>@item.Name</h5></a>
                            <p><a class="btn btn-primary" role="button">@item.DisplayPrice</a><a style="float:right" href="#" class="btn btn-default" role="button">Add to card</a></p>
                        </div>

                    </div>
                    <br />
                    <br />
                    <br />
                </div>

                }
                <!------Page List-------->
                @if (ViewBag.TotalPage > 0)
                {
                    var pageDisplay = (int)ViewBag.MaxPage;
                    int totalPage = (int)ViewBag.TotalPage;
                    int curentPage = ((int)ViewBag.Page);

                    var startPageIndex = Math.Max(1, curentPage - pageDisplay / 2);
                    var endPageIndex = Math.Min(totalPage, curentPage + pageDisplay / 2);
                    <div class="pager">
                        @if (curentPage > ViewBag.First)
                        {
                            <a href="@Url.Action("ProductsByCategory", "Category", new { @CategoryId = Model.ProductsByCategory.First().Id })"> title='Home'>1</a>
                            @*<a href="@Url.Action("Index", new { page = ViewBag.Pre })"<i class="fa fa-user"></i></a>*@
                        }
                   </div>
                }
                else
                {
                    <span>No products</span>
                }
                
            </div>

</div>


