@using S3Train.Web.Models;
@model PayMentViewModel

@{
    ViewBag.Title = "Payment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>

</style>
<div class="container">
    <div class="Payment">
        <div class="info ">
            <p>Payment</p>
            <hr />
            <p>Shipping Address</p>
            <b><span>@Model.User.FullName</span><span>@Model.User.PhoneNumber</span></b><span>@Model.User.Address</span><a href="@Url.Action("AddAddress", "Cart")">Change</a>
        </div>
        <div>

        </div><br />
        <div class="order-pro">
            <table>
                <tr>
                    <th>Product</th>
                    <th></th>
                    <th>Price</th>
                    <th>Quatity</th>
                    <th>Total</th>
                </tr>

                @foreach (var item in Model.Cart)
                {
                    <tr>

                        <td><img src="@Url.Content("~/ImagePD/" + item.Products.ImagePath)" /></td>
                        <td>@item.Products.NameProduct</td>
                        <td>@item.Quantity</td>
                        <td>@item.Products.Price</td>
                        <td>@(item.Products.Price * item.Quantity) </td>

                    </tr>
                }
            </table>
        </div><br />
        <p>Note: <input class="note" type="text" name="txtNote" value="" /></p>
        <div class="order-total">

            @{
                if (@Model.Cart.Sum(m => m.Quantity * m.Products.Price) >= 20)
                {
                    <h5>Total: $@Model.Cart.Sum(m => m.Quantity * m.Products.Price)</h5>
                    <h5>Delivery Charges: 0</h5>
                    <h5>Total payment: $@Model.Cart.Sum(m => m.Quantity * m.Products.Price)</h5>
                }
                else
                {
                    <h5>Total: $@Model.Cart.Sum(m => m.Quantity * m.Products.Price)</h5>
                    <h5>Delivery Charges: $5</h5>
                    <h5>Total payment: $@Model.Cart.Sum(m => m.Quantity * m.Products.Price + 5)</h5>
                }
            }  <a id="order-btn" href="#">Place Order</a>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#order-btn').click(function () {
            var note = $(".note").val()
            $.ajax({
                type: "Get",
                url: '/Cart/Order',
                data: { Note: note },
                dateType: "text",
                success: function (data) {
                    alert("You have successfully placed an order.thanks!")
                    window.location.href = "http://localhost:44304/";

                }
            });
        });
    });
</script>