@*<!DOCTYPE html>
    <html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Shop Homepage - Start Bootstrap Template</title>

        <!-- Bootstrap core CSS -->
        <link href="~/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
        <!-- Custom styles for this template -->
        <link href="~/Content/css/site.css" rel="stylesheet" />

        <link href="~/Content/css/bootstrap.css" rel="stylesheet" />
        <!--theme-style-->

        <link href="~/Content/css/style.css" rel="stylesheet" />
        <!--//theme-style-->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
        <!--fonts-->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
        <!--//fonts-->
        <script src="~/Content/js/jquery.min.js"></script>
        <!--script-->
    </head>

    <body>
        <!-- Navigation -->
        @Html.Partial("_VerticleNavbar")

        <!-- Page Content -->
        @RenderBody()
        <!-- /.container -->
        <!-- Footer -->
        @Html.Partial("_Footer")

        <!-- Bootstrap core JavaScript -->
        <script src="~/Content/vendor/jquery/jquery.min.js"></script>
        <script src="~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        @RenderSection("scripts", required: false)
    </body>

    </html>*@



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>National Book Store</title>
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" />
    <!--theme-style-->

    <link href="~/Content/css/style.css" rel="stylesheet" />
    <link href="~/Content/css/categories.css" rel="stylesheet" />
    <link href="~/Content/css/product.css" rel="stylesheet" />
    <!--//theme-style-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    <!--//fonts-->
    <script src="~/Content/js/jquery.min.js"></script>
    <script src="~/Content/js/categories.js"></script>
    <script src="~/Content/js/jquery-1.11.1.min.js"></script>
    <!--script-->
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css'>
    @*<link rel="stylesheet" href="./style.css">*@
</head>
<body>
    @RenderBody()
    <!--header-->
    <div class="header">
        <div class="top-header">
            <div class="container">
                <div class="top-header-left">
                    <ul class="support">
                        <li><a href="#"><label> </label></a></li>
                        <li><a href="#">24x7 live<span class="live"> support</span></a></li>
                    </ul>
                    <ul class="support">
                        <li class="van"><a href="#"><label> </label></a></li>
                        <li><a href="#">Free shipping <span class="live">on order over 500</span></a></li>
                    </ul>
                    <div class="clearfix"> </div>
                </div>
                <!---->
                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="bottom-header">
        <div class="container">
            <div class="header-bottom-left">
                <div class='menu' title='Menu'>
                    <img src="~/Content/images/category.png" />
                </div>

                <div id='css-menu'>
                    <div id='cssmenu'>
                        <ul>
                            <li class='home'><span class='close-menu' style='font-size:26px;font-weight:400;position:relative' title='Close'>&#8801; <span style='font-size:18px;font-weight:700;position:absolute;top:17px;left:33px'>Categories</span></span></li>
                            @Html.Partial("_Categories")
                        </ul>
                    </div>
                </div>
                <div class="logo">
                    <a href="#"><img src="~/Content/images/logo1.jpg" width="250" height="70" alt=" " /></a>
                </div>
                <div class="search">
                    <input type="text" value="" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}">
                    <input type="submit" value="SEARCH">

                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="header-bottom-right">
                <div class="account"><a href="login.html"><span> </span>YOUR ACCOUNT</a></div>
                <ul class="login">
                    <li><a href="login.html"><span> </span>LOGIN</a></li> |
                    <li><a href="register.html">SIGNUP</a></li>
                </ul>
                <div class="cart"><a href="#"><span> </span>CART</a></div>
                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    </div>
    <!---->
 
        <div class="container">
            <div class="shoes-grid">
                <a href="single.html">
                    <div class="wrap-in">
                        <div class="wmuSlider example1 slide-grid">
                            <div class="wmuSliderWrapper">
                                <article style="position: absolute; width: 100%; opacity: 0;">
                                    <div class="banner-matter">
                                        <div class="col-md-5 banner-bag">
                                            <img class="img-responsive " src="~/Content/images/book1.png" alt=" " />
                                        </div>
                                        <div class="col-md-7 banner-off">
                                            <h5>FLAT 20% 0FF</h5>
                                            <label>FOR ALL PURCHASE <b>VALUE</b></label>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et </p>
                                            <span class="on-get">GET NOW</span>
                                        </div>

                                        <div class="clearfix"> </div>
                                    </div>

                                </article>
                                <article style="position: absolute; width: 100%; opacity: 0;">
                                    <div class="banner-matter">
                                        <div class="col-md-5 banner-bag">
                                            <img class="img-responsive " src="~/Content/images/book2.jpg" alt=" " />
                                        </div>
                                        <div class="col-md-7 banner-off">
                                            <h5>FLAT 20% 0FF</h5>
                                            <label>FOR ALL PURCHASE <b>VALUE</b></label>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et </p>
                                            <span class="on-get">GET NOW</span>
                                        </div>

                                        <div class="clearfix"> </div>
                                    </div>

                                </article>
                                <article style="position: absolute; width: 100%; opacity: 0;">
                                    <div class="banner-matter">
                                        <div class="col-md-5 banner-bag">
                                            <img class="img-responsive " src="~/Content/images/book3.jpg" alt=" " />
                                        </div>
                                        <div class="col-md-7 banner-off">
                                            <h5>FLAT 20% 0FF</h5>
                                            <label>FOR ALL PURCHASE <b>VALUE</b></label>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et </p>
                                            <span class="on-get">GET NOW</span>
                                        </div>

                                        <div class="clearfix"> </div>
                                    </div>

                                </article>

                                <article style="position: absolute; width: 100%; opacity: 0;">
                                    <div class="banner-matter">
                                        <div class="col-md-5 banner-bag">
                                            <img class="img-responsive " src="~/Content/images/book4.png" alt=" " />
                                        </div>
                                        <div class="col-md-7 banner-off">
                                            <h5>FLAT 20% 0FF</h5>
                                            <label>FOR ALL PURCHASE <b>VALUE</b></label>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et </p>
                                            <span class="on-get">GET NOW</span>
                                        </div>

                                        <div class="clearfix"> </div>
                                    </div>

                                </article>

                                <article style="position: absolute; width: 100%; opacity: 0;">
                                    <div class="banner-matter">
                                        <div class="col-md-5 banner-bag">
                                            <img class="img-responsive " src="~/Content/images/book5.jpg" alt=" " />
                                        </div>
                                        <div class="col-md-7 banner-off">
                                            <h5>FLAT 20% 0FF</h5>
                                            <label>FOR ALL PURCHASE <b>VALUE</b></label>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et </p>
                                            <span class="on-get">GET NOW</span>
                                        </div>

                                        <div class="clearfix"> </div>
                                    </div>

                                </article>

                            </div>

                </a>
                <ul class="wmuSliderPagination">
                    <li><a href="#" class="">0</a></li>
                    <li><a href="#" class="">1</a></li>
                    <li><a href="#" class="">2</a></li>
                    <li><a href="#" class="">3</a></li>
                    <li><a href="#" class="">4</a></li>
                </ul>
                <script src="~/Content/js/jquery.wmuSlider.js"></script>
                <script>
                $('.example1').wmuSlider();
                </script>
            </div>
        </div>

        <!---->
    <div class="product">
        <div class="products">
            <h5 class="latest-product">NEW BOOK</h5>
            <a class="view-all" href="#">SEE MORE<span></span></a>
        </div>
        <div class="clearfix"> </div>
        <div class="container">
            <div class="row">
                <div class="well">
                    <!-- Carousel
                    ================================================== -->
                    <div id="myCarousel" class="carousel slide">
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="thumbnail">
                                            <img src="http://placehold.it/300x200/" alt="Slide11">
                                            <div class="caption">
                                                <h3>Product label</h3>
                                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor</p>
                                                <p><a href="#" class="btn btn-primary" role="button">12,99 €</a> <a href="#" class="btn btn-default" role="button">Wishlist</a></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="thumbnail">
                                            <img src="http://placehold.it/300x200/" alt="Slide12">
                                            <div class="caption">
                                                <h3>Product label</h3>
                                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor</p>
                                                <p><a href="#" class="btn btn-primary" role="button">12,99 €</a> <a href="#" class="btn btn-default" role="button">Wishlist</a></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="thumbnail">
                                            <img src="http://placehold.it/300x200/" alt="Slide13">
                                            <div class="caption">
                                                <h3>Product label</h3>
                                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor</p>
                                                <p><a href="#" class="btn btn-primary" role="button">12,99 €</a> <a href="#" class="btn btn-default" role="button">Wishlist</a></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="thumbnail">
                                            <img src="http://placehold.it/300x200/" alt="Slide14">
                                            <div class="caption">
                                                <h3>Product label</h3>
                                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor</p>
                                                <p><a href="#" class="btn btn-primary" role="button">12,99 €</a> <a href="#" class="btn btn-default" role="button">Wishlist</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="thumbnail">
                                            <img src="http://placehold.it/300x200/" alt="Slide21">
                                            <div class="caption">
                                                <h3>Product label</h3>
                                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor</p>
                                                <p><a href="#" class="btn btn-primary" role="button">12,99 €</a> <a href="#" class="btn btn-default" role="button">Wishlist</a></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="thumbnail">
                                            <img src="http://placehold.it/300x200/" alt="Slide22">
                                            <div class="caption">
                                                <h3>Product label</h3>
                                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor</p>
                                                <p><a href="#" class="btn btn-primary" role="button">12,99 €</a> <a href="#" class="btn btn-default" role="button">Wishlist</a></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="thumbnail">
                                            <img src="http://placehold.it/300x200/" alt="Slide23">
                                            <div class="caption">
                                                <h3>Product label</h3>
                                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor</p>
                                                <p><a href="#" class="btn btn-primary" role="button">12,99 €</a> <a href="#" class="btn btn-default" role="button">Wishlist</a></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="thumbnail">
                                            <img src="http://placehold.it/300x200/" alt="Slide24">
                                            <div class="caption">
                                                <h3>Product label</h3>
                                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor</p>
                                                <p><a href="#" class="btn btn-primary" role="button">12,99 €</a> <a href="#" class="btn btn-default" role="button">Wishlist</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="thumbnail">
                                            <img src="http://placehold.it/300x200/" alt="Slide31">
                                            <div class="caption">
                                                <h3>Product label</h3>
                                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor</p>
                                                <p><a href="#" class="btn btn-primary" role="button">12,99 €</a> <a href="#" class="btn btn-default" role="button">Wishlist</a></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="thumbnail">
                                            <img src="http://placehold.it/300x200/" alt="Slide32">
                                            <div class="caption">
                                                <h3>Product label</h3>
                                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor</p>
                                                <p><a href="#" class="btn btn-primary" role="button">12,99 €</a> <a href="#" class="btn btn-default" role="button">Wishlist</a></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="thumbnail">
                                            <img src="http://placehold.it/300x200/" alt="Slide33">
                                            <div class="caption">
                                                <h3>Product label</h3>
                                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor</p>
                                                <p><a href="#" class="btn btn-primary" role="button">12,99 €</a> <a href="#" class="btn btn-default" role="button">Wishlist</a></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="thumbnail">
                                            <img src="http://placehold.it/300x200/" alt="Slide34">
                                            <div class="caption">
                                                <h3>Product label</h3>
                                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor</p>
                                                <p><a href="#" class="btn btn-primary" role="button">12,99 €</a> <a href="#" class="btn btn-default" role="button">Wishlist</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="left carousel-control" href="#myCarousel" data-slide="prev"><i class="fa fa-chevron-left fa-2x"></i></a>
                        <a class="right carousel-control" href="#myCarousel" data-slide="next"><i class="fa fa-chevron-right fa-2x"></i></a>

                    </div><!-- End Carousel -->
                </div><!-- End Well -->
            </div>
        </div>
        <div class="products">
            <h5 class="latest-product">BOOK COMING SOON</h5>
            <a class="view-all" href="product.html">SEE MORE<span> </span></a>
        </div>
        <div class="clearfix"> </div>

        <div class="container">
            <div class="row">
                <div class="well">
                    <!-- Carousel
                    ================================================== -->
                    <div id="myCarousel1" class="carousel slide">
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="thumbnail">
                                            <img src="http://placehold.it/300x200/" alt="Slide11">
                                            <div class="caption">
                                                <h3>Product label</h3>
                                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor</p>
                                                <p><a href="#" class="btn btn-primary" role="button">12,99 €</a> <a href="#" class="btn btn-default" role="button">Wishlist</a></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="thumbnail">
                                            <img src="http://placehold.it/300x200/" alt="Slide12">
                                            <div class="caption">
                                                <h3>Product label</h3>
                                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor</p>
                                                <p><a href="#" class="btn btn-primary" role="button">12,99 €</a> <a href="#" class="btn btn-default" role="button">Wishlist</a></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="thumbnail">
                                            <img src="http://placehold.it/300x200/" alt="Slide13">
                                            <div class="caption">
                                                <h3>Product label</h3>
                                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor</p>
                                                <p><a href="#" class="btn btn-primary" role="button">12,99 €</a> <a href="#" class="btn btn-default" role="button">Wishlist</a></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="thumbnail">
                                            <img src="http://placehold.it/300x200/" alt="Slide14">
                                            <div class="caption">
                                                <h3>Product label</h3>
                                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor</p>
                                                <p><a href="#" class="btn btn-primary" role="button">12,99 €</a> <a href="#" class="btn btn-default" role="button">Wishlist</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="thumbnail">
                                            <img src="http://placehold.it/300x200/" alt="Slide21">
                                            <div class="caption">
                                                <h3>Product label</h3>
                                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor</p>
                                                <p><a href="#" class="btn btn-primary" role="button">12,99 €</a> <a href="#" class="btn btn-default" role="button">Wishlist</a></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="thumbnail">
                                            <img src="http://placehold.it/300x200/" alt="Slide22">
                                            <div class="caption">
                                                <h3>Product label</h3>
                                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor</p>
                                                <p><a href="#" class="btn btn-primary" role="button">12,99 €</a> <a href="#" class="btn btn-default" role="button">Wishlist</a></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="thumbnail">
                                            <img src="http://placehold.it/300x200/" alt="Slide23">
                                            <div class="caption">
                                                <h3>Product label</h3>
                                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor</p>
                                                <p><a href="#" class="btn btn-primary" role="button">12,99 €</a> <a href="#" class="btn btn-default" role="button">Wishlist</a></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="thumbnail">
                                            <img src="http://placehold.it/300x200/" alt="Slide24">
                                            <div class="caption">
                                                <h3>Product label</h3>
                                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor</p>
                                                <p><a href="#" class="btn btn-primary" role="button">12,99 €</a> <a href="#" class="btn btn-default" role="button">Wishlist</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="left carousel-control" href="#myCarousel1" data-slide="prev"><i class="fa fa-chevron-left fa-2x"></i></a>
                        <a class="right carousel-control" href="#myCarousel1" data-slide="next"><i class="fa fa-chevron-right fa-2x"></i></a>

                    </div><!-- End Carousel -->
                </div><!-- End Well -->
            </div>
        </div>
        <div class="clearfix"> </div>

        <div class="products">
            <h5 class="latest-product">BEST SELLER</h5>
            <a class="view-all" href="product.html">SEE MORE<span> </span></a>
        </div>
        <div class="clearfix"> </div>

        <div class="container">
            <div class="row">
                <div class="well">
                    <!-- Carousel
                    ================================================== -->
                    <div id="myCarousel2" class="carousel slide">
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="thumbnail">
                                            <img src="http://placehold.it/300x200/" alt="Slide11">
                                            <div class="caption">
                                                <h3>Product label</h3>
                                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor</p>
                                                <p><a href="#" class="btn btn-primary" role="button">12,99 €</a> <a href="#" class="btn btn-default" role="button">Wishlist</a></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="thumbnail">
                                            <img src="http://placehold.it/300x200/" alt="Slide12">
                                            <div class="caption">
                                                <h3>Product label</h3>
                                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor</p>
                                                <p><a href="#" class="btn btn-primary" role="button">12,99 €</a> <a href="#" class="btn btn-default" role="button">Wishlist</a></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="thumbnail">
                                            <img src="http://placehold.it/300x200/" alt="Slide13">
                                            <div class="caption">
                                                <h3>Product label</h3>
                                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor</p>
                                                <p><a href="#" class="btn btn-primary" role="button">12,99 €</a> <a href="#" class="btn btn-default" role="button">Wishlist</a></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="thumbnail">
                                            <img src="http://placehold.it/300x200/" alt="Slide14">
                                            <div class="caption">
                                                <h3>Product label</h3>
                                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor</p>
                                                <p><a href="#" class="btn btn-primary" role="button">12,99 €</a> <a href="#" class="btn btn-default" role="button">Wishlist</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="thumbnail">
                                            <img src="http://placehold.it/300x200/" alt="Slide21">
                                            <div class="caption">
                                                <h3>Product label</h3>
                                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor</p>
                                                <p><a href="#" class="btn btn-primary" role="button">12,99 €</a> <a href="#" class="btn btn-default" role="button">Wishlist</a></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="thumbnail">
                                            <img src="http://placehold.it/300x200/" alt="Slide22">
                                            <div class="caption">
                                                <h3>Product label</h3>
                                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor</p>
                                                <p><a href="#" class="btn btn-primary" role="button">12,99 €</a> <a href="#" class="btn btn-default" role="button">Wishlist</a></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="thumbnail">
                                            <img src="http://placehold.it/300x200/" alt="Slide23">
                                            <div class="caption">
                                                <h3>Product label</h3>
                                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor</p>
                                                <p><a href="#" class="btn btn-primary" role="button">12,99 €</a> <a href="#" class="btn btn-default" role="button">Wishlist</a></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="thumbnail">
                                            <img src="http://placehold.it/300x200/" alt="Slide24">
                                            <div class="caption">
                                                <h3>Product label</h3>
                                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor</p>
                                                <p><a href="#" class="btn btn-primary" role="button">12,99 €</a> <a href="#" class="btn btn-default" role="button">Wishlist</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="left carousel-control" href="#myCarousel2" data-slide="prev"><i class="fa fa-chevron-left fa-2x"></i></a>
                        <a class="right carousel-control" href="#myCarousel2" data-slide="next"><i class="fa fa-chevron-right fa-2x"></i></a>

                    </div><!-- End Carousel -->
                </div><!-- End Well -->
            </div>
        </div>
        <div class="clearfix"> </div>
        <div class="products">
            <h5 class="latest-product">CATEGORIES</h5>
        </div>
        <div class="clearfix"> </div>
        <div class="container">
            <div class="row">
                <div class="well">
                    <!-- Carousel
                    ================================================== -->
                    <div id="myCarousel3" class="carousel slide">
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="thumbnail">
                                            <img src="http://placehold.it/300x200/" alt="Slide11">
                                            <div class="caption">
                                                <h3>Product label</h3>
                                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor</p>
                                                <p><a href="#" class="btn btn-primary" role="button">12,99 €</a> <a href="#" class="btn btn-default" role="button">Wishlist</a></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="thumbnail">
                                            <img src="http://placehold.it/300x200/" alt="Slide12">
                                            <div class="caption">
                                                <h3>Product label</h3>
                                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor</p>
                                                <p><a href="#" class="btn btn-primary" role="button">12,99 €</a> <a href="#" class="btn btn-default" role="button">Wishlist</a></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="thumbnail">
                                            <img src="http://placehold.it/300x200/" alt="Slide13">
                                            <div class="caption">
                                                <h3>Product label</h3>
                                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor</p>
                                                <p><a href="#" class="btn btn-primary" role="button">12,99 €</a> <a href="#" class="btn btn-default" role="button">Wishlist</a></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="thumbnail">
                                            <img src="http://placehold.it/300x200/" alt="Slide14">
                                            <div class="caption">
                                                <h3>Product label</h3>
                                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor</p>
                                                <p><a href="#" class="btn btn-primary" role="button">12,99 €</a> <a href="#" class="btn btn-default" role="button">Wishlist</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="thumbnail">
                                            <img src="http://placehold.it/300x200/" alt="Slide21">
                                            <div class="caption">
                                                <h3>Product label</h3>
                                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor</p>
                                                <p><a href="#" class="btn btn-primary" role="button">12,99 €</a> <a href="#" class="btn btn-default" role="button">Wishlist</a></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="thumbnail">
                                            <img src="http://placehold.it/300x200/" alt="Slide22">
                                            <div class="caption">
                                                <h3>Product label</h3>
                                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor</p>
                                                <p><a href="#" class="btn btn-primary" role="button">12,99 €</a> <a href="#" class="btn btn-default" role="button">Wishlist</a></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="thumbnail">
                                            <img src="http://placehold.it/300x200/" alt="Slide23">
                                            <div class="caption">
                                                <h3>Product label</h3>
                                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor</p>
                                                <p><a href="#" class="btn btn-primary" role="button">12,99 €</a> <a href="#" class="btn btn-default" role="button">Wishlist</a></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="thumbnail">
                                            <img src="http://placehold.it/300x200/" alt="Slide24">
                                            <div class="caption">
                                                <h3>Product label</h3>
                                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor</p>
                                                <p><a href="#" class="btn btn-primary" role="button">12,99 €</a> <a href="#" class="btn btn-default" role="button">Wishlist</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="left carousel-control" href="#myCarousel3" data-slide="prev"><i class="fa fa-chevron-left fa-2x"></i></a>
                        <a class="right carousel-control" href="#myCarousel3" data-slide="next"><i class="fa fa-chevron-right fa-2x"></i></a>

                    </div><!-- End Carousel -->
                </div><!-- End Well -->
            </div>
        </div>

    </div>
    <div class="clearfix"> </div>

    <!---->
    <div class="footer">
        <div class="footer-top">
            <div class="container">
                <div class="latter">
                    <h6>NEWS-LETTER</h6>
                    <div class="sub-left-right">
                        <form>
                            <input type="text" value="Enter email here" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter email here';}" />
                            <input type="submit" value="SUBSCRIBE" />
                        </form>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="latter-right">
                    <p>FOLLOW US</p>
                    <ul class="face-in-to">

                        <li><a href="#"><span class="facebook-in"> </span></a></li>

                    </ul>

                    <div class="clearfix"> </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="footer-bottom-cate">
                    <img src="~/Content/images/logo1.jpg" />
                    <ul>
                        <li>


                            307/12 Nguyen Van Troi, Ward 1, Tan Binh District, Ho Chi Minh City<br />
                            National Book Store accepts online ordering and home delivery.<br />
                            It is NOT supported to order and receive products directly at the office as well as all  National Book Store System nationwide.


                        </li>
                    </ul>
                </div>
                <div class="footer-bottom-cate bottom-grid-cat">
                    <h5>SERVICE</h5>
                    <ul>
                        <li><a href="#">Terms Of Use</a></li>
                        <li><a href="#">Introduce National Book Store</a></li>
                    </ul>
                </div>
                <div class="footer-bottom-cate">
                    <h5>SUPPORT</h5>
                    <ul>
                        <li>Email: admin@nationalbookstore.vn</li>
                        <li>Hotline: 0938 424 289</li>
                    </ul>
                </div>
                <div class="footer-bottom-cate">
                    <h5>MY ACCOUNT</h5>
                    <ul>
                        <li><a href="#">Login/Register </a></li>
                        <li><a href="#">Change Address</a></li>
                        <li><a href="#">My Order</a></li>
                    </ul>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>

    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'></script>
    <script>
        $('#myCarousel').carousel({
            interval: 0
        });
        $('#myCarousel1').carousel({
            interval: 0
        });
        $('#myCarousel2').carousel({
            interval: 0
        });
        $('#myCarousel3').carousel({
            interval: 0
        });
    </script>
</body>
</html>
