@using S3Train.Web.Models;
@model HomeViewModel
@{
    ViewBag.Title = "Purchase";
    Layout = "~/Views/Shared/_Profile.cshtml";
}

@if (Model.OrderProViewModel == null || Model.OrderProViewModel.Count == 0)
{
<div class="cart-empty">
    <p>No purchase orders yet</p>
    <a class="continue" href="@Url.Action("Index", "Home", null)">Buy Now</a>
</div>
}
else
{

foreach (var item in Model.OrderProViewModel)
{
    <div class="cart-header">
        <div class="cart-sec">

            <divError executing child request class="cart-item cyc">
                <img src="@Url.Content("~/ImagePD/" + item.ImagePath)" width="80" height="100" />
            </divError>
            <div class="cart-item-info">
                <ul>
                    <li>@item.NameProduct</li>
                    <li>@item.BarCode</li>
                    <li>X @item.OrderQuantity</li>
                    <li class="price">$@item.Price</li>
                </ul>
            </div>
            <div class="total">
                <p>Total: $@item.Total</p>
                <p><a id="btn-add-to-cart" style="float:right; background-color:coral; color:white" href="@Url.Action("Detail", "Product", new { @id = item.Id })" class="btn btn-default" role="button">Repurchase</a></p>
            </div>
            <div class="clearfix"></div>


        </div>
    </div>
}
}
<style>
    .total{
        float: right
    }
    .price
    {
        float:right
    }
</style>




